/* General styles */
body {
    /* Make body take up entire screen */
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

h1 {
    /* Make body take up entire screen */
    font-size: 2rem;
}

/* Search container */ 
.search-container {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.search-container input[type=search] {
    padding: 0.5rem;
    outline: none;
    border: none;

    outline: black solid 0.15rem;
    border-radius: 2rem;
    opacity: 0.25;

    max-width: 50%;
    min-width: 25%;
}

.search-container input[type=search]:focus {
    opacity: 1;
}

.search-container ul {
    position: absolute;
    top: 100%;
    z-index: 1;

    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    /* display: none; */

    outline: black solid 0.1rem;
    background: white;

    overflow: hidden;
    overflow-y: scroll;
    max-height: 15rem;
    max-width: 20rem;

    list-style-type: none;
}

.search-container input[type=search]:focus + ul {
    visibility: visible;
    opacity: 1;
}

.search-container li {
    padding: 1rem 0;
}

.search-container li:hover {
    background: gray;
    cursor: pointer;
}



/* Weather table container */
.weather-table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather-table {
    flex: auto;
    max-width: 50%;

    /* table-layout: fixed; */
    border-spacing: 0 1rem;
}

.weather-table td{
    text-align: center;
    vertical-align: middle;
}

.weather-table td > img{
   max-width: 25%;
}